
@{
    ViewBag.Title = "About";
}

    <div class="container" style="padding-top: 15px; margin: auto; max-width: 100%; text-align: center">
       <img src="https://i.imgur.com/iVPOdJI.jpg" alt="JG" style="border-radius: 25%"/>
    </div>

<div class="container" style="padding-top: 15px; margin: auto; text-align: center">
    <p style="color: ghostwhite">Hi I'm James. I am a recent graduate of Eleven Fifty Academy's Software Development Course.</p>

    <p style="color: ghostwhite">Since March 2021, I have spent countless hours studying and improving my skills with a variety of different programming languages. After months of learning on my own, I took the initiative to learn programming in a more structured environment.</p>

    <p style="color: ghostwhite;">With my enrollment with Eleven Fifty Academy, I chose to pursue Software Development as my discipline. Since October 2021, I have been following the teachings of multiple instructors as I've grown my Software Development skills.</p>

    <p style="color:ghostwhite; text-align:left;">My proficiencies include:
        <ul style="color:ghostwhite; text-align: left;">
            <li>C#</li>
            <li>.NET Framework</li>
            <li>ASP.NET MVC</li>
            <li>Razor Pages</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>Microsoft SQL Server</li>
            <li>Git</li>
        </ul>
    </p>

    <p style="color:ghostwhite; text-align: left;">Limited proficiencies include:
        <ul style="color:ghostwhite; text-align: left;">
            <li>JavaScript</li>
            <li>Python</li>
        </ul>
    </p>
</div>




    